<!-- <form (ngSubmit)="register()" #registerForm="ngForm"> -->

    <div class="container">
        <form action="">
            <input type="text" name="name" ngModel required placeholder="Enter Your Name">
            <input type="number" name="number" ngModel required placeholder="Enter Your Phone No">
            <input type="email" name="email" ngModel required placeholder="Enter Your Email">
            <input type="password" name="password" ngModel required placeholder="Enter Password">
            <button type="submit">REGISTER</button>
            <!-- <button type="submit" [disabled]="registerForm.invalid">Register</button> -->
          </form>
    </div>

  
